*{
    margin: 0%;
    padding: 0%;
}

 h1 {
    background: royalblue;
    display: inline-block;
}
p{
    background: saddlebrown;
}
a{
    background: seagreen;
}
.test{
    text-align: center;
}
span{
    background: springgreen;
}
b{
    background: tomato;
}

img{
    text-align: center;
}

.anotherdiv{
    text-align: center;
} 

.main-menu{
    text-align: center;
}
.main-menu li{
    display: inline-block;
    margin-left: -5px;
}

.main-menu li a{
    padding: 10px;
    background-color: tomato;
    color: white;
    display: inline-block;
    border: 1px solid slateblue;
    text-decoration: none;
}

.main-menu li a:hover{
    background: royalblue;
    transition: .5s;
    border-color: red;
}